<section class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card shadow border-0">
        <div class="card-body p-4 text-center">

          <!-- User Icon -->
          <i class="bi bi-person-circle fs-1 text-primary"></i>

          <h2 class="fw-bold mb-3">Welcome Back</h2>
          <p class="mb-4 text-muted">Enter your credentials to continue</p>

          <form (submit)="onLogin()" [formGroup]="loginForm">

            <!-- Email -->
            <div class="mb-3 input-group">
              <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
              <input type="email" name="email" formControlName="email" class="form-control" id="email"
                placeholder="Email address" required>
            </div>

            <!-- Password -->
            <div class="mb-3 input-group">
              <span class="input-group-text">
                <i class="bi bi-lock-fill"></i>
              </span>
              <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password"
                formControlName="password" name="password" placeholder="Password" required>
              <span class="input-group-text" (click)="togglePasswordVisibility()" style="cursor: pointer;">
                <i [ngClass]="showPassword ? 'bi-eye' : 'bi-eye-slash'"></i>
              </span>
            </div>

            <!-- Remember Me & Forgot Password -->
            <div class="d-flex justify-content-between align-items-center mb-4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="rememberMe">
                <label class="form-check-label" for="rememberMe">
                  Remember me
                </label>
              </div>
              <a href="#" class="text-decoration-none small">Forgot password?</a>
            </div>

            <!-- Buttons -->
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-primary fw-bold" (click)="onLogin()">Login</button>
              <button type="button" class="btn btn-outline-secondary" (click)="onRegisterRedirect()">Don't have an
                account? Register</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
