.hero-section {
  height: 100vh;
  background: url("../../../assets/hero-bg.jpg") no-repeat center center/cover;
  position: relative;
}

.hero-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 255, 0.7),
    rgba(138, 43, 226, 0.7)
  );
  z-index: 0;
}

.hero-section .container {
  z-index: 1;
  position: relative;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}
